swagger: '2.0'
info:
  title: spending authority api
  description: RESTful API to get spending authority permissions
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - http
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/spending-authority-api
produces:
  - application/json

paths:
  /spendingauthority:
    parameters:
      - $ref: '#/parameters/authorization'
    get:
      summary: Get authorized spending information
      tags:
        - spendingauthority
      operationId: getSpendingAuthority
      description: returns authority resource information for an onid.
      parameters:
        - in: "query"
          name: onid
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Error'

parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'

definitions:
  response:
    type: object
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        $ref: "#/definitions/SpendingAuthorityResource"

  Links:
    $ref: "#/definitions/SelfLink"

  SelfLink:
    type: object
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource

  SpendingAuthorityResource:
    type: object
    properties:
      id:
        type: string
        example: "john"
        description: onid username
      type:
        type: string
        enum: [spendingauthority]
        description: type of authorization
      attributes:
        $ref: "#/definitions/LimitsArray"
      links:
        $ref: "#/definitions/SelfLink"

  LimitsArray:
    type: object
    description: account limits
    properties:
      limits:
        type: array
        items:
          $ref: "#/definitions/LimitsInfo"

  LimitsInfo:
    type: object
    properties:
      spendingLimit:
        type: integer
        example: 149999.99
        description: "unique spending limit"
      indexes:
        type: array
        items:
          type: string
          example: "JIS261"
          description: lists of unique indexes

  Error:
    properties:
      status:
        type: integer
        description: HTTP status code.
      developerMessage:
        type: string
        description: An error string aimed at developers.
      userMesage:
        type: string
        description: An error string aimed at end users.
      code:
        type: integer
        description: Error code.
      details:
        type: string
        description: A link to further information about the error.
